@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="container text-center">
        <div>
            <img src="~/Content/Local_Theatre_Company_Logo (1).jpg" />
        </div>
        <div>
            <img class="center-block" src="~/Content/new-theatre-royal-stage.jpg" />
        </div>
    </div>
</div>